{% extends "accounts/reset_base.html" %}
{% load widget_tweaks %}

{% block title %}Reset Password | {{block.super}} {% endblock %}
{% block header %}Reset Your Password{% endblock %}

{% block content %}
<p class="text-center mb-3">Enter your email below, and we'll send you a link to reset your password.</p>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email|add_class:"form-control" }}
        {% if form.email.errors %}
            <div class="text-danger small">{{ form.email.errors }}</div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-info w-100">Send Reset Link</button>
</form>
{% endblock %}
